h2 {
 color: black;
 font-size: 50px;
 text-align: centre;

}

img 
{
	float: left;
	
}
p {
	border: 5px solid lightpink;
	color: green;
	font-display: auto;
	font-size: 22px;
	font-family: "times new roman";
	font-weight: bolder;
	line-height: 25px;
	
	text-align: centre;
}
footer {
	clear: both;
	text-align: center;
}

.boxmodel {
	width: 50px;
	height: 50px;
	border: 5px solid darkred;
	display: inline;
	padding: 5px 20px 5px 20px;
	margin: 10px;
	padding-top: 10px;
}